<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Categories</title>
</head>
<body>
<h1>Categories</h1>

<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="category : ${categories}">
        <td th:text="${category.id}"></td>
        <td th:text="${category.name}"></td>
        <td>
            <!-- Добавляем ссылку на задачи категории -->
            <a th:href="@{/categories/{id}(id=${category.id})}">View Tasks</a>
        </td>
    </tr>
    </tbody>
</table>

<!-- Добавляем кнопку для отображения всех задач -->
<p>
    <a th:href="@{/tasks/list}">View All Tasks</a>
</p>

<p>
    <a th:href="@{/categories/new}">Add New Category</a>
</p>
</body>
</html>
